<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card m-2 text-center">
                <div class="card-body">
                  <h5 class="card-title">{{ dataUser.username }}</h5>
                  <p class="card-text">{{ dataUser.email }}.</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isAdmin" class="mt-4 pt-4">
        <h4 class="pb-2">My Courses</h4>
        <div *ngIf="!isEmpty" class="row my-2">
          <div class="col-md-4 col-sm-6" *ngFor="let dt of listCourse;">
                <div class="card m-2 cursor-pointer card-course">
                    <img class="card-img-top" [src]="dt.payload.doc.data().image_url" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{ dt.payload.doc.data().name }}</h5>
                      <p class="card-text">Rp {{ dt.payload.doc.data().price }}.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>